@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&family=Texturina:opsz,wght@12..72,100;12..72,400;12..72,700;12..72,900&display=swap');

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
}
table td {
    border: 1px solid black;
    padding: 5px;
}   

.calculadora-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr repeat(5, 1fr);
    grid-gap: 5px;
    width: 300px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #3F51B5;
    color: white;
    font-family: sans-serif;
}
.calculadora-grid div:nth-child(n+2) {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.3em;
    background-color: rgba(0, 0, 0, 0.1);
    text-shadow: 0px 0px 3px #00BCD4, 0px 0px 3px #00BCD4;
    transition: all 0.2s ease-in-out;
}
.calculadora-grid div:nth-child(n+2):hover {
    background-color: rgba(0, 0, 0, 0.3);
    text-shadow: 0px 0px 6px #00BCD4,
                 0px 0px 10px #00BCD4,
                 0px 0px 15px #00BCD4;
}
.calculadora-grid .display {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    background-color: #202b65;
    border-radius: 10px;
    color: #fff;
    text-shadow: 0px 0px 10px #2196F3, 0px 0px 5px #2196F3, 0px 0px 5px #2196F3;
    text-align: right;
    padding: 5px;
    font-size: 3em;
    font-family: 'Big Shoulders Stencil Text', sans-serif;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.calculadora-grid .zero {
    grid-column: 1 / 3;
}

.calculadora-grid .igual {
    grid-row: 5 / 7;
    grid-column: 4 / 5;
}